@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-03-27 10:47:23
 * @version $Id$
 */
body,ul{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f1f1f1;
}
li{
	list-style: none;
}
img{
	vertical-align: top;
	border: none;
}
.clear:after,.clear:before{
	content: "";
	display: table;
}
.clear:after{
	clear: both;
}
a{
	text-decoration: none;
}

/* reset end */


/* box starat */
.box{
	width: 400px;
	height: 300px;
	border: 10px solid white;
	border-radius: 6px;
	margin: 50px auto;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	position: relative;
}
.box a{
	z-index: 2;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #bcbebe;
	color: white;
	margin-top: -25px;
	border-radius: 50%;
	font-size: 16px;
}
.box a:first-of-type{
	left: 10px;
}
.box a:last-of-type{
	right: 10px;
}
.box .pic{
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 300px;
	overflow: hidden;
}
.box .img{
	width: 800px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
}
.box img{
	float: left;
	width: 400px;
	height: 300px;
}
.box .list{
	width: 104px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -52px;
}
.box .list li{
	float: left;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-left: 8px;
	cursor: pointer;
}
.box .list li.active{
	background-color: red;
}
.box .list li:first-of-type{
	margin-left: 0;
}
.box .list li.active{
	background-color: yellow;
}

